

.mainContainer{
    text-align: center;
}

.container {
    margin-top: 2rem;
    text-align: center;
    height: 100%;
}

.post {
    margin-top: 5px;
background-color: rgb(251, 251, 251);
}


.profileImg{
    float: left;
    text-align: left;
    height: inherit;
    width: 20%;
}

.profileImg img{
    max-width:100%;
    max-height:100%;
}

.row{
    height:inherit !important;
}

.col {
    height: inherit !important;
    box-sizing: content-box;
}

.postContentContainer{
    height: 100%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}

.postContent {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}